name: Daily Database Update

on:
  schedule:
    # 04:00 UTC = 09:30 AM IST (Daily)
    - cron: "0 4 * * *"
  workflow_dispatch:

jobs:
  update-db:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.11"

    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Configure MongoDB Secrets
      run: echo "Secrets loaded!"
      env:
        MONGO_URI: ${{ secrets.MONGODB_URI }}
        MONGO_USER: ${{ secrets.MONGODB_USERNAME }}
        MONGO_PASS: ${{ secrets.MONGODB_PASSWORD }}
        MONGO_DBNAME: ${{ secrets.MONGODB_DBNAME }}

    - name: Run Daily Stock Update
      env:
        MONGO_URI: ${{ secrets.MONGODB_URI }}
        MONGO_USER: ${{ secrets.MONGODB_USERNAME }}
        MONGO_PASS: ${{ secrets.MONGODB_PASSWORD }}
        MONGO_DBNAME: ${{ secrets.MONGODB_DBNAME }}
      run: |
        python injection/update_db_daily.py
