name: Daily Database Update

on:
  schedule:
    - cron: "30 4 * * *"  # 10:00 AM IST (after NSE closes)
  workflow_dispatch:

jobs:
  update-db:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.11"

    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Add Repo to PYTHONPATH
      run: |
        echo "PYTHONPATH=$PWD" >> $GITHUB_ENV

    - name: Run Daily Stock Update
      env:
        MONGO_USER: ${{ secrets.MONGODB_USERNAME }}
        MONGO_PASS: ${{ secrets.MONGODB_PASSWORD }}
        MONGO_DBNAME: ${{ secrets.MONGODB_DBNAME }}
        MONGO_URI: ${{ secrets.MONGODB_URI }}
      run: |
        python injection/update_db_daily.py
