name: Update Daily Stock DB

on:
  schedule:
    - cron: "30 4 * * *"  # 10:00 AM IST (04:30 UTC)
  workflow_dispatch:

jobs:
  update-db:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.11"

    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Add MongoDB Atlas Credentials
      env:
        MONGO_URI: ${{ secrets.MONGO_URI }}
      run: |
        echo "MONGO_URI=${MONGO_URI}" >> $GITHUB_ENV

    - name: Run Daily Stock Update
      run: |
        cd $GITHUB_WORKSPACE
        python injection/update_db_daily.py
