name: Daily Database Update

on:
  schedule:
    - cron: "0 3 * * *"  # 03:00 UTC = 08:30 IST
  workflow_dispatch:

jobs:
  update-db:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.11"

    - name: Install Dependencies
      run: |
        pip install --upgrade pip
        pip install -r requirements.txt

    - name: Set Environment Variables
      env:
        MONGO_USER: ${{ secrets.MONGODB_USERNAME }}
        MONGO_PASS: ${{ secrets.MONGODB_PASSWORD }}
        MONGO_DBNAME: ${{ secrets.MONGODB_DBNAME }}
        MONGO_URI: ${{ secrets.MONGODB_URI }}
      run: echo "Environment vars injected."

    - name: Run Daily Stock Update
      env:
        MONGO_USER: ${{ secrets.MONGODB_USERNAME }}
        MONGO_PASS: ${{ secrets.MONGODB_PASSWORD }}
        MONGO_DBNAME: ${{ secrets.MONGODB_DBNAME }}
        MONGO_URI: ${{ secrets.MONGODB_URI }}
      run: python injection/update_db_daily.py
